.cta {
  width: 100%;
  min-height: 300px;          
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.cta button {
  all: unset;
    cursor: pointer;
    background: linear-gradient(90deg, #F17228 0%, #F15E28 100%);
    color: white;
    padding: 18px 38px;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cta button img {
    width: 8px;
    height: 14px;
}

.cta p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
  text-align: center;
}